<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="../static/design.css">
    <script src="../static/JS.js" defer></script>
</head>
<body>
   
    <div id="login_page">
        <div class="grid_container">
        
            <div class= "nav"> <nav>
                    <ul class="nav-list">
                        <li style="display:inline;" class="list-item">
                            <a href="loginPage.html">Home</a>
                        </li>
                        <li  style="display:inline;" class="list-item">
                            <a href="SignUp.html">SignUp</a>
                        </li>
                    </ul>
                </nav>
            </div>

            
            <div class="HEADER">
                <h1 id="main_header"> BabySetting </h1>
            </div>

            <div class="MAIN" >
                  <img class="logo" src="../static/logo.png" alt="" >
                  
                    <form class="signIn_form" action="" method="" onsubmit ="return verifyFields()">

                         <label for="FullName">User name</label> <br>
                        <input  type="text"  id="FullName" name="FullName" > <br>

                        <label for="email">Email</label> <br>
                        <input type="email"  id="email" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <br>

                        <label for="password">password</label> <br>
                        <input type="password"  id="pswd" name="password"  value = "" >
                        <br>
                        <span id = "message"> </span> <br>

                    
                        <button type="submit" class="form_button">Login</button>
                        
                    </form> 
                   

            </div>
        </div>        
    </div>
  


</body>
</html>