doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title find match page
  link(rel='stylesheet' href='../static/design.css')
  script(src='../static/JS.js' defer='')
.grid_container
  .nav
    nav
      ul.nav-list
        li.list-item(style='display:inline;')
          a(href='loginPage.html') LogOut
        li.list-item(style='display:inline;')
          a(href='FavoritesPage.html') My Favorites
  .HEADER
    h1.header3  We found 2 babysitter for you 
  .MAIN
    .profile
      img.profilePic(src='../static/163831a1910f99ba7cd04eb6d86931d7 (1).jpg' alt='')
      p.profile_header Personal Info:
      p Name: Stav Razon 
      a(href='https://www.facebook.com/login/') Facebook
      a(href='https://www.instagram.com/accounts/login/?') Instagram
      p 5.0 stars 
      p Location: Tel Aviv 
      p Age: 26 
      p Price per houre: 50
      p Phone number: 0543861648 
      p Email: Stav.r@gmail.com 
      button.favorites_button(type='add to favorties') add to favorties
      br
    .profile
      img.profilePic(src='../static/115723773_610.jpg' alt='')
      p.profile_header Personal Info:
      p Name: Inbar Zana 
      a(href='https://www.facebook.com/login/') Facebook
      a(href='https://www.instagram.com/accounts/login/?') Instagram
      p 4.2 stars 
      p Location: Ramat Gan  
      p Age: 24 
      p Price per houre: 90
      p Phone number: 0527619392 
      p Email: inbar.z@gmail.com
      button.favorites_button(type='add to favorties') add to favorties
      br
