doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Looking page
  link(rel='stylesheet' href='../static/design.css')
  script(src='../static/JS.js' defer='')
.grid_container
  .HEADER
    h1.header4 Looking for match&mldr; 
  .MAIN
    img.logo(src='../static/logo.png' alt='')