doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title didnt find a match
  link(rel='stylesheet' href='../static/design.css')
  script(src='../static/JS.js' defer='')
.grid_container
  .nav
    nav
      ul.nav-list
        li.list-item(style='display:inline;')
          a(href='loginPage.html') LogOut
        li.list-item(style='display:inline;')
          a(href='FavoritesPage.html') My Favorites
  .HEADER
    h2.header2
      | Sorry, we didn&rsquo;t find for you the perfect match. But it doesn&rsquo;t mean its time to change your plans. Lets search again!
  .MAIN
    img.logo(src='../static/logo.png' alt='')
    br
    a.Back_to_search_button(href='SerchePage.html' type='Back to search') Back to search 
