<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Looking page</title>
    <link rel="stylesheet" href="../static/design.css">
    <script src="../static/JS.js" defer></script>
</head>
<body>
    <div class="grid_container">
        <div class="HEADER"> 
            <h1 class="header4">Looking for match… </h1>
        </div>
        <div class="MAIN">
            <img class="logo" src="../static/logo.png" alt="">
        </div>
       
</body>
</html>