<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>favorties page</title>
    <link rel="stylesheet" href="../static/design.css">
    <script src="../static/JS.js" defer></script>
    
</head>

<body>
    <div class="grid_container">

        <div class= "nav"> <nav> 
            <ul class="nav-list">
                <li style="display:inline;" class="list-item">
                    <a href="loginPage.html">LogOut</a>
                </li>
                <li style="display:inline;" class="list-item">
                    <a href="FavoritesPage.html">My Favorites</a>
                </li>
            </ul>
        </nav>
       </div>

       <div class="HEADER">
         <h1 class ="header3"> My favorties </h1>
       </div>

       <div class="MAIN">
        <div class="profile">
            <img src="../static/163831a1910f99ba7cd04eb6d86931d7 (1).jpg" alt="" class="profilePic">
            <p class="profile_header">Personal Info:</p>
            <p>Name: Stav Razon </p>
            <a href="https://www.facebook.com/login/">Facebook</a>
            <a href="https://www.instagram.com/accounts/login/?">Instagram</a>
            <p>5.0 stars </p>
            <p>Location: Tel Aviv </p>
            <p>Age: 26 </p> 
            <p>Price per houre: 50</p> <br>
            <p>Phone number: 0543861648 </p> 
            <p>Email: Stav.r@gmail.com </p> <br>
        </div>


       </div>
    </div>
</body>
</html>