doctype html
html
    head
        script(src='JS.js' defer='')
        link(rel="stylesheet", href="style.css")
        title
    body
    h1 Create Data base
    form(action="/CreateUsersTable" method="get") 
        label(for="") click hear to create users table
        input(type="submit", value="create") 

    form(action="/ShowTable" method="get") 
        label(for="") click hear to show users table
        input(type="submit", value="show")
    
    form(action="/DropTable" method="get") 
        label(for="") click hear to drop users table
        input(type="submit", value="drop")

    form(action="/CreateBabySittersTable" method="get") 
        label(for="") click hear to create babysitters table
        input(type="submit", value="create")

    form(action="/InsertData" method="get") 
        label(for="") click hear to insert data to babysitters table
        input(type="submit", value="insert")
    
    form(action="/ShowBabySittersTable" method="get") 
        label(for="") click hear to show babysitters table
        input(type="submit", value="show")

    form(action="/DropBabySittersTable" method="get") 
        label(for="") click hear to drop babysitters table
        input(type="submit", value="drop")


    

    

    