doctype html
html
    head
        script(src='JS.js' defer='')
        link(rel="stylesheet", href="style.css")
        title
    body
    .grid_container
        .nav
            nav
                ul.nav-list
                    li.list-item(style='display:inline;')
                        a(href='/loginPage') LogOut
                    li.list-item(style='display:inline;')
                        a(href='/Favorites') My Favorites
        .HEADER
            .header2
                h2 Sorry, we didnt find for you the perfect match. But it doesnt mean its time to change your plans. Lets search again!
        .MAIN
            img.logo(src='logo.png' alt='')
            br
            a.Back_to_search_button(href='/serchePage' type='Back to search') Back to search 
