doctype html
html
    head
        script(src='JS.js' defer='')
        link(rel="stylesheet", href="style.css")
        title
    body
        .grid_container
            .nav
                nav
                    ul.nav-list
                        li.list-item(style='display:inline;')
                            a(href='/loginPage') LogOut
            .HEADER
                h1.header3  Search your BabySitter
                br
                h2.header2  Enter your search details 
            .MAIN
                form.search_form(action="/FindBabySitter" method="post")
                    br
                    h5.header2 You can use the location services, and choose the range of kilometers in which the babysters will be found. 
                    h5.header2 Or enter your city  and find babysitters in your city
                    br
                    br
                    label(for='city') City:
                    select#city.city(name='city')
                        option(value='') Select your city
                        option(value='Tel Aviv') Tel Aviv
                        option(value='Beer Sheva') Beer Sheva
                        option(value='Ramat Gan') Ramat Gan
                        option(value='Eilat') Eilat
                        option(value='Soham') Soham
                        option(value='Hod Hasharon') Hod Hasharon
                        option(value='Raanna') Raanna
                        option(value='Kfar Saba') Kfar Saba
                    br
                    br
                    br
                    lablel  Get my location
                    input#location(type='checkbox' onclick='GetLocation(); enableCreateUser()')
                    br
                    br
                    label#distance(for='distance') Distance:
                    select#distance(name='distance')
                        option(value='') Enter the maximum distance your bibister can be
                        option(value='10') 10
                        option(value='20') 20
                        option(value='30') 30
                        option(value='40') 40
                        option(value='50') 50
                        option(value='60') 60
                        option(value='70') 70
                        option(value='80') 80
                        option(value='90') 90
                        option(value='100') 100
                    br
                    br
                    label#experienceYears(for='experience') Experience Years:
                    select#years(name='experience' required='')
                        option(value='') Select minimun years of experience of your Babysitter
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(value='4') 4
                        option(value='5') 5
                        option(value='6') 6
                        option(value='7') 7
                        option(value='8') 8
                    br
                    br
                    br
                    label#pricePerHour(for='price') Price Per Hour:
                    select#price(name='price' required='')
                        option(value='') Select the maximum price per hour that you can pay
                        option(value='20') 20
                        option(value='30') 30
                        option(value='40') 40
                        option(value='50') 50
                        option(value='60') 60
                        option(value='70') 70
                        option(value='80') 80
                        option(value='90') 90
                    br
                    button.form_button(type='submit') Find a match
                    br
                    input#lat(type="hidden" name="lat" value='')
                    input#long(type="hidden" name="long" value='')
                    