doctype html
html
    head
        script(src='JS.js' defer='')
        link(rel="stylesheet", href="style.css")
        title
    body
        .grid_container
            .HEADER
                h2.header2 User created successfully 
            .MAIN
                 img.logo(src='logo.png' alt='')
                 br
                 a.Back_to_search_button(href='/serchePage' type='Back to search')  start your search 